@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");

}

#top-radio-station{
    display: grid;
    grid-template-areas: 
      "r-station s-media"
      "n-menu n-menu";
    width: 100%;
    background: white;
    max-width: 1024px;
    z-index: 2;
    padding-bottom: 5px;
    top: 0;
    position: relative;
    transition: transform 0.5s;
}
.fa-facebook-square{
    color: #4267b2;
}
.fa-twitter-square{
    color: #1da1f2
}
.fa-google-plus-square{
    color: #d34836;
}
.fa-youtube-square{
    color: #FF0000;
}

@media all and (max-width: 600px){
    #top-radio-station{
	display: block;
    }
}
#real-audio-ico{
    width: 30px;
    filter: grayscale(100%);
}
div.topNavBar{
    grid-column: 1 / -1 ;
}

a.nav-link img{
    width: auto;
}


h1.radio-station{
    font-size: 30px;
}

h1.radio-station span:nth-of-type(1){
    color: white;
    padding: 0 10px 0 10px;
    border-radius: 20px;
    background-color: #BE2503;
}

h1.radio-station span:nth-of-type(2){
    font-weight: bold;
    color: black;
}

h1.radio-station span:nth-of-type(3){
    font-weight: bold;
}

h1.radio-station span:nth-of-type(4){
    color: gray;
    font-size: 12px;
}

ol.social-media{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
    padding-top: 8px;
}

/* Coverage */
div.coverage-thumbnail-container{
    max-height: 160px;
    overflow: hidden;
}
