.first-secondary-post-container{
	max-height: 377px;
	overflow: hidden;
}

ol.secondary-posts{
    height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ol.secondary-posts img{
	width: 50%;
	height: auto;
}

ol.secondary-posts h3{
    font-size: 15px;
    display: inline;
    position: absolute;
    padding: 0 10px 0 10px;
}

ol.secondary-posts li{
    padding: 0;
}

#more-news-header{
    color: var(--red);
}

#more-news-body{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 15px;
}

#more-news-body h4{
    font-size: 18px;
}
